body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 2rem;
    max-width: 600px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 9px;
  }
  
  .book {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 580px;
    transition: all 0.3s ease;
  }
  
  .book:hover {
    background: #f0f8ff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: scale(1.01);
  }
  
  
  .available {
    border-color: green;
  }
  
  .checked-out {
    border-color: red;
  }
  
  .status {
    font-weight: bold;
  }
  
  .status.available {
    color: green;
  }
  
  .status.checked-out {
    color: red;
  }
  